html,body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	margin:0px;
	height:100%;
}

#centro{
	position: fixed;
    width: 30%;
    height: 40%;
    top: 20%;
    left: 42%;
    margin-top: -25px; 
    margin-left: -100px; 
    background-color: black;
    border: 2px solid white;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 31px; 
    font-size: 140%;
}
p{
	color: white;
	margin-top: 55px;
}
.boton{
	width: 50px;
	clear:left;
	margin-left: 25px;
	margin-top: 30px;
}