html,body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	margin:0px;
	height:100%;
}

h3{
	color: red;
	font-size: 40px;
}

p{
	text-align: left;
	color: white;
}
#centro{
	position: fixed;
    width: 30%;
    height: 67%;
    top: 20%;
    left: 42%;
    margin-top: -25px; 
    margin-left: -100px; 
    background-color: black;
    border: 2px solid white;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 31px; 
    font-size: 140%;
    object-fit: scale-down;
}
#suerte
{
	font-size: 50px;
	text-align: center;
}